@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font-family:"Arial Black", Gadget, sans-serif;
	list-style:none;
}
/* title */
#title{
	width: 100%;
	height: 40px;
/* 	border: solid 1px red; */
	margin: 0 auto;
}
#title p{
	color: #424242;
	font-size: 36px;
	text-align: center;
	padding-top: 11px;
	font-family: '微软雅黑';
	text-shadow: 4px 4px 3px #bfbbbb;
}
/* header */
.container{
  width:100%;
  height:102px;
  margin:0 auto;
/*   border:1px solid red; */
  overflow:hidden;
  background: #C0C0C0;
  text-align:center;
  background:RGBA(209, 209, 209, 0.9);
}
.container-tit{
  width:100%;
  height:46px;
  background-color: #6CB4D5;
}
.container-tit ul{
   margin-right:19%
}
.container-tit li{
  float:right;
  width:158px;
  height:46px;
  line-height:46px;
  text-align:center;
  overflow:hidden;
  background: #6CB4D5;
}
.container-tit li.select{
  background:#C0C0C0;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  padding:0;
  font-weight:bolder;
}
.container li a:link,.container li a:visited{
  text-decoration:none;
  color:#fff;
}
.container .mod li a{
	font-size: 18px;
	color:#333;
}
.container .mod li a:hover{
    color:#25b6e6;	
	}

.container .container-tit a{
	font-size: 20px;
}
.container li a:hover{
 color:#25b6e6;
}
.container .mod a:hover{
	color:#000;
}
.container-con .mod{
  padding-left:34%;
  padding-top:1%;
}
.container-con .mod ul li{
  float:left;
  width:143px;
  height:38px;
  overflow:hidden;
}
#header{
	width: 100%;
	height: 102px;
/* 	border: solid 1px blue; */
	margin: 0 auto;
	margin-top: 37px;
}
#banner{
	width: 100%;
	height: 450px;
/* 	border: solid 1px red; */
}
#banner img{
	width: 100%;
	height: 450px;
}


