@charset "utf-8";
/* CSS Document */
/* main */
#main {
	width: 100%;
	height: 340px;
/* 	border: solid blue 1px; */
}
#main #message{
	width: 1200px;
	height: 340px;
/* 	border: solid 1px red; */
	margin: 0 auto;
	background: RGBA(209, 209, 209, 0.9);                                                                        
}
#message .p-detail{
	width: 1200px;
	height: 60px;
/* 	border: solid 1px black; */
	border-bottom: solid 1px #6b6b6b;
	margin: 0 auto;
}
#message .p-detail p{
	text-align: right;
	padding: 25px 40px 20px;
}
#message .p-detail a{
	text-decoration: none;
	color: #303030;
	font-size: 14px;
}
#message #line{
	width: 100%;
	height: 50px;
/* 	border: solid 1px red; */
}
#message #line p{
	padding: 14px;
	font-size: 18px;
	font-weight: 500px;
}
#message #demo{
	width: 700px;
	height: 220px;
/* 	border: solid red 1px; */
	margin: 0 auto;
} 
.jqtransform{
	width: 700px;
/* 	border: 1px solid; */
}
.jqtransform div{
	width: 700px;
	height: 50px;
	line-height: 50px;
/* 	border: 1px red solid; */
}
.jqtransform p{
	float: left;
	width: 280px;
	font-size: 16px;
}
.jqtransform input{
	width:243px;
	height: 35px;
}
.jqtransform .button input{
	width: 80px;
	margin-left: 50px;
	margin-top: 10px;
}
/*footer*/
#footer{
	width: 100%;
	height: 100px;
	background:#000;
	margin: 0 auto;
}
#footer .footer_wraper{
	width: 1200px;
	height: 60px;
/* 	border: solid 1px blue; */
	margin: 0 auto;
}
#footer .footer_wraper ul{
	list-style: none;
		padding-left: 15%;
}
#footer .footer_wraper ul li a{
	text-decoration: none;
	float:left;
	margin-top: 20px;
	margin-left: 50px;
	color: #fff;
}
#footer .footer_bootom{
	width:300px;
	height: 20px;
/* 	border: solid 1px green; */
	margin: 0 auto;
	text-align: center;
	color: #fff;
}